<div *ngIf="Article">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="post-heading mt-3">
          <h2>{{Article.Title}}</h2>
          <div class="row">
            <div class="col-6">
              <h5 class="text-primary d-flex justify-content-start">{{Article.Name}}</h5>
            </div>
            <div class="col-6 d-flex justify-content-end">update on {{Article.UpdateTime | date:'YYYY/MM/dd HH:mm:ss'}}
            </div>
          </div>
        </div>
        <p class="mt-3 wrap">{{Article.Content}}</p>
        <button class="btn btn-secondary" (click)="onGoBack()">回上頁</button>
        <button *ngIf="RoleId === 1 || (RoleId === 2 && UserId === Article.UserId )" class="btn btn-danger float-right"
          (click)="onDelete(Article.Id)">刪除</button>
        <button *ngIf="RoleId === 1 || (RoleId === 2 && UserId === Article.UserId )"
          class="btn btn-primary float-right mr-3" routerLink="/edit/{{Article.Id}}">編輯</button>
      </div>
    </div>
  </div>
</div>
