<div *ngIf="Article">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="post-heading mt-3">
          <h2>文章編輯</h2>
          <div class="row">
            <div class="col-6">
              <h5 class="text-primary d-flex justify-content-start">{{Article.Name}}</h5>
            </div>
            <div class="col-6 d-flex justify-content-end">update on {{Article.UpdateTime | date:'YYYY/MM/dd HH:mm:ss'}}
            </div>
          </div>
          <div class="mt-3 mb-3">
            <label for="title" class="form-label">文章標題</label>
            <input type="text" class="form-control" id="title" placeholder="填入標題" [(ngModel)]="Article.Title">
          </div>
          <div class="mb-3">
            <label for="content" class="form-label">文章內容</label>
            <textarea class="form-control" id="content" rows="5" placeholder="輸入你想要寫的內容..."
              [(ngModel)]="Article.Content"></textarea>
          </div>
          <button class="btn btn-secondary" (click)="onGoBack()">回上頁</button>
          <button class="btn btn-primary float-right" (click)="onSave()">儲存</button>
        </div>
      </div>
    </div>
  </div>
</div>
